version: "3.9"

services:
web:
    build:
     context: .
     dockerfile: Dockerfile
    container_name: next-payload
    ports:
     - "3000:3000"
    env_file:
     - .env
    depends_on:
     - postgres
    restart: unless-stopped

postgres:
    image: postgres:15
    container_name: postgres-staging
    env_file:
     - .env
    ports:
     - "5432:5432"
    volumes:
     - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
postgres_data: