jobs:
  test-db:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up SSH keys
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H 178.128.64.173 >> ~/.ssh/known_hosts
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Upload PostgreSQL certificate to Droplet
        run: |
          echo "${{ secrets.POSTGRES_SSL_CERT }}" > ./postgres_cert.crt

      - name: Set up environment variables
        run: |
          echo "PAYLOAD_SECRET=${{ secrets.PAYLOAD_SECRET }}" >> $GITHUB_ENV
          echo "DATABASE_URL=${{ secrets.DATABASE_URL }}?sslmode=require&sslrootcert=./postgres_cert.crt" >> $GITHUB_ENV
        env:
          PAYLOAD_SECRET: ${{ secrets.PAYLOAD_SECRET }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}

      - name: Install Node.js and remove old versions
        run: |
          if command -v node &> /dev/null
          then
            echo "Node.js is already installed, removing old versions..."
            sudo apt-get remove -y nodejs npm
          else
            echo "Node.js is not installed."
          fi
          echo "Installing Node.js 20.x..."
          curl -fsSL https://deb.nodesource.com/setup_20.x | sudo -E bash -
          sudo apt-get install -y nodejs

      - name: Install dependencies
        run: |
          npm install || exit 1

      - name: Build the application
        run: |
          npm run build || exit 1
        timeout-minutes: 20