name: Deploy production

on:
  push:
    branches:
      - main

env:
  GITHUB_SHA: ${{ github.sha }}
  DO_REGISTRY: ${{ secrets.DO_REGISTRY_NEW }}
  DEPLOYMENT: boxxer-client-testing
  IMAGE: sellergpt
  APP_NAME: ubuntu-s-1vcpu-1gb-sfo2-01   # Name of your DigitalOcean App or Droplet
  DO_REGION: sfo2               # Change to your DigitalOcean region

jobs:
  build-and-deploy:
    name: Build, push, and deploy to DigitalOcean
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main
        uses: actions/checkout@v3
        with:
          ref: main

      # Build the Docker image
      - name: Build Docker image
        run: |
          docker build --memory=8000M -t $DO_REGISTRY/$IMAGE:$GITHUB_SHA -t $DO_REGISTRY/$IMAGE:latest -f Dockerfile .

      # Install doctl
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DO_API_TOKEN }}

      # Push the Docker image to DO Registry
      - name: Push Docker image to DO Registry
        run: |
          doctl registry login --expiry-seconds 1000
          docker push $DO_REGISTRY/$IMAGE:$GITHUB_SHA
          docker push $DO_REGISTRY/$IMAGE:latest

      # Deploy to DigitalOcean App Platform (Droplet)
      - name: Deploy to DigitalOcean
        run: |
          echo "Triggering deployment for $sellerapp"
          doctl apps update $sellerapp \
            --spec <(doctl apps spec get $APP_NAME | jq '.services[0].image.digest="'$DO_REGISTRY/$IMAGE:$GITHUB_SHA'"') 
